/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620;  /* dark brown */
    --secondary-color: #aa9581;  /* lights brown */
    --highlight-color: #416a8e;  /* blue */
    --highlight-color-lights: #7a9fc2;   /* light blue */
}
/* Global style */

body {
    font-family: var(--primary-color);
}
h1, 
h2, 
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}
h1,
h2 {
    text-transform: uppercase;
}
h2 {
    margin-bottom: 2rem;
}
.sub-heading-color {
    color: var(--highlight-color);
}
.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* Navbar */
#navbar {
    background-color: var(--primary-color);
}
#navbar .logo {
    width: 30px;
}
/* Header */
#header .lead {
    font-family: var(--secondary-font);
}

/* Services */
#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}
#services .card {
    margin-bottom: 1.5rem;
}

/* Game library cards */
#new-games .card,
#fav-games .card {
    border: none;
}
/* grid visualisation css for testing */
/* .container,
.row {
    border: 2px solid black;
}.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */

/* Media queries */
/* Medium devices (tablets, 768 and up) */
@media screen and (min-width: 768px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 191px;
    }
}
/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: auto;
    }
}
/* Extra Large devices (small laptops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 220px;
    }
}
/* xxl  devices (small laptops, 1400px and up) */
@media screen and (min-width: 1200px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 195px;
    }
}